.content-table{
    position: absolute;
    top: 200px;
    left: 300px;
    width: 1500px;
    align-items: center;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    font-size: 0.9rem;
}

thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
    font-size: 1.4rem;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddddd;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody td:last-of-type {
    text-align: center;
}